h2 {
    text-align:center;
    color: black;
}

body {
    margin: 0px;
}

.banner {
    background-image: url('./../images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align:center;
}

.banner h1 {
    color: white;
    font-size: 45px;
    margin: 0;
     
}

.banner p {
    color: white;
    font-size: 24px;
    opacity: 0.9;
}

.banner a:hover {
    background-color: #000000;
    color: white;
    border: 0.15em solid rgb(0, 0, 0);
}

.banner a {
    color: rgb(255, 255, 255);
    padding: 16px 48px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
}

.card-white {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 24px;
    margin: 5px;
    transition: 0.3s
}

.card-white:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-white img {
    width:100%;
    object-fit: cover;
    border-radius: 4px;
}

.cards {
    display: flex;
    justify-content:space-between;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    color: pink;
}

.container a {
    background-color: #ffffff;
    color:white;
    padding: 16px 48px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
}

.ghost {
    display: inline-block;
    position: relative;
    top: 50%;
    border: 0.15em solid #fff;
    padding: 0.4em 0.6em;
    -webkit-transition: color 300ms, background 500ms, border-color 700ms;
    transition: color 300ms, background 500ms, border-color 700ms;
}

.footer {
    background: #dfd2db;
    color: rgb(0, 0, 0);
    padding: 3%;
    text-align: center;
}

.linkfooter {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
.linkfooter {
  color: #000000;
}

.linkfooter:hover {
    color: white;
}
